.navbar .social {
    display: none;
}

.navbar .container {
    grid-template-columns: repeat(2, 1fr);
}

#showcase .container {
    grid-template-columns: 1fr;
}

#home-articles .articles-container {
    grid-template-columns: 1fr;
}

#home-articles .articles-container .card-grid {
    grid-template-columns: 1fr;
}

#home-articles .articles-container .card-grid:first-child,
#home-articles .articles-container .card-grid:last-child {
    grid-column: 1;
}

#main-footer .container {
    grid-template-columns: 1fr;
}

#main-footer .container > *:last-child {
    grid-column: 1;
}

.page-content {
    grid-template-columns: 1fr;
}
